<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<dict>
			<key>Background</key>
			<string>level_map1</string>
			<key>ShrinkBackgroundBoundaryBy</key>
			<real>0.9</real>
			<key>DebugBorder</key>
			<true/>
			<key>Characters</key>
			<array>
				<dict>
					<key>BaseFrame</key>
					<string>character</string>
					<key>StartLocation</key>
					<string>{-100,0}</string>
					<key>UseForCollisions</key>
					<true/>
					<key>CollisionBodyType</key>
					<string>circle</string>
					<key>CollisionBodyCoversWhatPercent</key>
					<real>0.9</real>
					<key>DebugBody</key>
					<true/>
				</dict>
				<dict>
					<key>BaseFrame</key>
					<string>character</string>
					<key>StartLocation</key>
					<string>{0,0}</string>
					<key>UseForCollisions</key>
					<true/>
					<key>CollisionBodyType</key>
					<string>circle</string>
					<key>CollisionBodyCoversWhatPercent</key>
					<integer>1</integer>
					<key>DebugBody</key>
					<true/>
				</dict>
				<dict>
					<key>BaseFrame</key>
					<string>character</string>
					<key>StartLocation</key>
					<string>{100,0}</string>
					<key>UseForCollisions</key>
					<true/>
					<key>CollisionBodyType</key>
					<string>circle</string>
					<key>CollisionBodyCoversWhatPercent</key>
					<real>0.9</real>
					<key>DebugBody</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
